**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.env
**/.dockerignore
**/docker-compose*
**/Dockerfile*
!Dockerfile
!Dockerfile.blazor
**/node_modules
**/npm-debug.log
**/.DS_Store
Pharmaceutical.Tests/
.github/
.cursor/
*.md
!README.md
